  

	<h3 style='margin-left:11%'>Lesedyr-magasinet</h3>

    <div class="container-fluid-custom">
      <div class="row" style = "border: 7px solid #edf3f4; background-color: #4cb0d0">
        <div class="col-md-8" style="height: 400px; background-color: #FFFFFF;">
              <li><img src="../img/magmain.png" alt="HTML5 Icon" style="width:96%; margin-left:-3%;"></li>

        </div>
        <div class="col-md-4" style="height: 400px; color: #000000; background-color: #4cb0d0; padding-top: 10%;">
            <h4 style="color: #FFFFFF;">Hva er interaktiv litteratur?</h4>
              De fleste kan nevne én eller flere barnebøker de husker særdeles godt, fra lesestunder i mamma eller pappas fang med en bok i fanget, der man kunne peke og bla. Tradisjonelle bildebøker av dette slaget tar i bruk mange metoder for å gjøre leseopplevelsen morsom for barna, alt fra såkalte “pop-up” elementer, samt muligheten til å ta og føle på ulike stoffer, som tøy og pels. 

            <br></br>
            <p style="font-style: italic; color: #FFD700">Les mer.</p>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4; padding: 2% 3%;">
          <h4 style="color: #FFFFFF;">Jungelbokens mange eksempler</h4>
            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text ddidn´t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hillse of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove.
          <br></br>
          <p style="font-style: italic; color: #FFD700">Les mer.</p>
        </div>

        <div class="col-md-6" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4; padding: 2% 3%;">
          <h4 style="color: #FFFFFF;">Hva er en bok-app?</h4>
            En bok-app er en fuknsjonalitet som gjør det mulig å lese bøker på digitale plattformer, og det finnes mye å velge mellom når det gjelder interaktive barnebøker. Man kan finne bok-apper som remedierer tradisjonelle bildebøker ved å overføre originalen i høyest  mulig grad, men man kan også finne bok-apper som ikke prøver å etterlinke sine forgjengere. Det er i den siste kategorien mulighetene innen interaktiv litteratur kommer best frem. 

          <br></br>
          <p style="font-style: italic; color: #FFD700">Les mer.</p>

        </div>

      </div>

      <div class="row">
        <div class="col-md-6" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4; padding: 2% 3%;">
          <h4 style="color: #FFFFFF;">Hvilket lesedyr er du og ditt barn?</h4>
            Inklusjonen av spill-og andre interaktive elementer står i kjernen av denne type litteratur, og tilbyr unge lesere muligheten for en helt unik leseropplevelse. Om den likner mer på en bok eller et spill er relativt, men det interaktive bok-apper har til felles er at de åpner for en nye måte å lese og oppleve litteratur

          <br></br>
          <p style="font-style: italic; color: #FFD700">Les mer.</p>


        </div>
        <div class="col-md-3" style="height: 280px; background-color: #FFFFFF; border: 7px solid #edf3f4;">
            <div class='recommendtag'>
              Anmeldt
                <li><img src="../img/bruno.png" alt="HTML5 Icon" style="width:96%; margin: 10% auto auto 63%; border-radius: 8px;"></li>
            </div>

        </div>
        <div class="col-md-3" style="height: 280px; background-color: #FFFFFF; border: 7px solid #edf3f4;">
            <div class='recommendtag'>
              Anmeldt
                <li><img src="../img/maya.png" alt="HTML5 Icon" style="width:96%; margin: 10% auto auto 63%; border-radius: 8px;"></li>
            </div>
        </div>
      </div>

     <!--  <div class="row">
        <div class="col-md-3" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>
        <div class="col-md-9" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>

      </div>

      <div class="row">
        <div class="col-md-12" style="height: 200px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>
      </div> -->

    </div>



