<!--This is not used, yet-->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
	<div class="container"> <!-- etc… --> <!-- Collect the nav links, forms, and other content for toggling --> 
		<div class="collapse navbar-collapse navbar-ex1-collapse"> 
			<ul> 
				<li><a href="<span class="highlight">#/main</span>">Main</a></li> 
				<li><a href="<span class="highlight">#/profile</span>">Profile</a></li> 
				<li><a href="<span class="highlight">#/magazine</span>">About</a></li> 
			</ul> 
		</div> <!-- /.navbar-collapse --> 
	</div> <!-- /.container --> 
</nav>
<!--Read more at http://www.airpair.com/angularjs/building-angularjs-app-tutorial#lDUUIZoLlsqoQteJ.99-->