<div class= "rectangle">

    <div class= "rectangle_grid" ng-model="book">

          <div class= "rounded_rectangle">Våre nyeste anbefalinger:</div>
         
          <div class="col-md-2 anbefalinger"  ng-repeat="book in books | limitTo:6">{{book.title}}</div>
    </div>
    
<div style="height: 305px">
    <carousel current-index="selected" interval="myInterval">
      <slide ng-repeat="article in articles | limitTo:4" active="article.active">
        <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{article.title}}</p>
        </div>
      </slide>
    </carousel>
  </div>

     <!--<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" >
    
	    Indicators -->
	    <!--<ol class="carousel-indicators">
	      <li data-target="#carousel" data-slide-to="0" class="active"></li>
	      <li data-target="#carousel" data-slide-to="1" ></li>
	      <li data-target="#carousel" data-slide-to="2"></li>
	      <li data-target="#carousel" data-slide-to="3"></li>
	    </ol>

	    <! - Wrapper for slides -->
	    <!--<div class="carousel-inner" ng-controller="CarouselDemoCtrl">

	      <div class="item active">
	        <div class="carousel-caption" ng-model="article" ng-repeat="article in articles | limitTo:1">
	          <h3>{{article.title}}</h3>
	        </div>
	      </div>

	      <div class="item">
	        <div class="carousel-caption" ng-model="article" ng-repeat="article in articles | limitTo:3">
	          <h3>{{article.title}}</h3>
	        </div>
	      </div>-->

	      <!--<div class="item">
	        <div class="carousel-caption">
	          <h3>Hei2</h3>
	        </div>
	      </div>
	    
	      <div class="item">
	        <div class="carousel-caption">
	          <h3>Hei3</h3>
	        </div>
	      </div>

	      <div class="item">
	        <div class="carousel-caption">
	          <h3>Hey4</h3>
	        </div>
	      </div>-->

	    </div>

<!--	</div>

</div>-->

<div class="container-fluid" ng-model="article">
    <div class="row">
        <div class="col-md-12" style="height: 200px; background-color: #4cb0d0;" ng-repeat="article in articles | limitTo:1">{{ article.title }}</div>
    </div>

    <div class="row">
        <div class="col-md-4" style="height: 200px; background-color: #4cb0d0; border-right: 15px solid #edf3f4;"></div>
        <div class="col-md-8" style="height: 200px; background-color: #4cb0d0;"></div>
    </div>

    <div class="row">
      
        <div class="col-md-8" style="height: 400px; background-color: #edf3f4; border-right: 15px solid #edf3f4;">

          <div class="row" style = "margin-top: 0px;">
            <div class="col-md-12" style="height: 80px; background-color: #4cb0d0; "></div>
          </div>

          <div class="row">
            <div class="col-md-4" style="height: 150px; background-color: #4cb0d0; border-right: 15px solid #edf3f4; "></div>
            <div class="col-md-4" style="height: 150px; background-color: #4cb0d0; border-right: 15px solid #edf3f4; "></div>
            <div class="col-md-4" style="height: 150px; background-color: #4cb0d0;  "></div>
          </div>

          <div class="row">
            <div class="col-md-12" style="height: 130px; background-color: #4cb0d0;"></div>
          </div>

        </div>
        
        <div class="col-md-4" style="height: 400px; background-color: #4cb0d0;"></div>

    </div>

</div>


