<!DOCTYPE html>

<html>
	<head>

		<link rel="stylesheet" href="../css/magasinet.css" >
   	<link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <style>
    	body{
       	background-color: #edf3f4;
      		}
      p   {
        font-family: Times;
        font-size:200%;
          }
    </style>
	</head>

	<body>
		<p>Lesedyr-magasinet</p>

    <div class="container-fluid">
      <div class="row" style = "border: 7px solid #edf3f4; background-color: #4cb0d0">
        <div class="col-md-8" style="height: 400px; background-color: #000000;"></div>
        <div class="col-md-4" style="height: 200px; background-color: #4cb0d0;"></div>
      </div>

      <div class="row">
        <div class="col-md-6" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4; ">
        </div>
        <div class="col-md-6" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>

      </div>

      <div class="row">
        <div class="col-md-6" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>
        <div class="col-md-3" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>
        <div class="col-md-3" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>
      </div>

      <div class="row">
        <div class="col-md-3" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>
        <div class="col-md-9" style="height: 280px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>

      </div>

      <div class="row">
        <div class="col-md-12" style="height: 200px; background-color: #4cb0d0; border: 7px solid #edf3f4;"></div>
      </div>

    </div>



	</body>
</html>