

<!--Here I shall have filters to filter the books and something to show all books-->
<div class="filter-buttons">
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default btn-xl" ng-click="filters.price = 100; ">0-3 år</button>
  <button type="button" class="btn btn-default btn-xl">4-6 år</button>
  <button type="button" class="btn btn-default btn-xl">7-10 år</button>
  <button type="button" class="btn btn-default btn-xl">12+ år</button>
</div>

<div class="btn-group" role="group" aria-label="some">
  <button type="button" class="btn btn-default btn-xl">Sorter på: </button>
  <button type="button" class="btn btn-default btn-xl" ng-click="sortVariable = 'price'; reverse=!reverse">Pris</button>
  <button type="button" class="btn btn-default btn-xl">Popularitet</button>
  <button type="button" class="btn btn-default btn-xl">Tid</button>
</div>
</div>


<div class="filtercontainer" ng-model="book">
	<div class="row">
		<div class="nametag">Platform</div>
		<div class="jumbotronWhite" class="col-sm-1"> Some text</div>
	</div>
	<div class="row">
		<div class="nametag">Pris og lyd</div>
		<div class="jumbotronWhite" class="col-sm-1"> Some text</div>
	</div>
	<div class="row">
		<div class="nametag">Interaktivitet</div>
		<div class="jumbotronWhite" class="col-sm-1"> Some text</div>
	</div>
	<div class="row">
		<div class="nametag">Sjanger</div>
		<div class="jumbotronWhite" class="col-sm-1"> Some text</div>
	</div>
	<div class="row">
		<div class="nametag">Forfatter/forlag</div>
		<div class="jumbotronWhite" class="col-sm-1"> Some text</div>
	</div>
</div>

<div class="bookcontainer" ng-model="book">
		<div class="book" ng-repeat="book in books | limitTo:6 | orderBy:sortVariable:reverse | filter:filters "> 
			<div class="price"></div>
			{{book.title}}
			{{book.price}}

		</div> 
</div>	

<!--<div class="jumbotronWhite"> Some text
</div>
<div class="jumbotronWhite">Some text
</div>
<div class="jumbotronWhite">Some text
</div>
<div class="jumbotronWhite">Some text
</div>
<div class="jumbotronWhite">Some text
</div>-->

