<link rel="stylesheet" href="/../css/filterbuttons.css" >

<!--Here I shall have filters to filter the books and something to show all books-->
<span class="filter-buttons">
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default btn-lg">0-3 år</button>
  <button type="button" class="btn btn-default btn-lg">4-6 år</button>
  <button type="button" class="btn btn-default btn-lg">7-10 år</button>
  <button type="button" class="btn btn-default btn-lg">12+ år</button>
</div>

<div class="btn-group" role="group" aria-label="some">
  <button type="button" class="btn btn-default btn-lg">0-3 år</button>
  <button type="button" class="btn btn-default btn-lg">4-6 år</button>
  <button type="button" class="btn btn-default btn-lg">7-10 år</button>
  <button type="button" class="btn btn-default btn-lg">12+ år</button>
</div>
</span>