.bookcontainer{
	margin: -15px 0px 0px 7px;
	width: 70%;
	background-color: #edf3f4;
	float:left;
}

.book{
	margin: 10px 10px ;
	width: 200px;
	height: 280px;
	float: left;
	background-color: #FFFFFF;
	border-radius: 8px;
	border-color: ;
}


.price{

	margin: 0px 0px auto auto;
	width: 35%;
	height:12%;
	border-bottom-left-radius: 20px;
	text-align: center;
	padding: 6px;
	background-color: #3a3a3a;
	color: #FFFFFF;
}

.picturecontainer{
	width: 98%;
	height: 59%;
	background-color: #e6e6e6;
	border-radius: 8px 8px 0px 0px;
	margin: auto;
	margin-top: 1px;
}

.textcontainer{
	width: 98%;
	height: 20%;
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px;
	margin: auto;

}

.pricecontainer{
	width: 98%;
	height: 20%;
	background-color: #F9F9F9;
	text-align: center;
	padding: 10px;
	border-radius: 0px 0px 8px 8px;
	margin: auto;
}

