.filtercontainer{
	width: 23%;
	margin: 20px 0px 0px 40px;
	background-color: #edf3f4;
	float:left;
	
}

.jumbotronWhite {
 width: 85%;
 height: 200px;
 padding: 30px;
 margin: -25px 0px 10px 15px;
 font-size: 21px;
 font-weight: 200;
 line-height: 2.1428571435;
 color: inherit;
 background-color: white;
}

.box {
	background-color: white;
	width: 150px;
	height: 215px;
}

.nametag {
	width: 85%;
	background-color: #A9E2F3;
	color:#FFFFFF;
	border-radius: 5px;
 	height: 60px;
 	font-size: 21px;
 	font-weight: 400;
 	line-height: 2.1428571435;
 	padding-left: 10%;
 	margin: -25px 0px 10px 15px;
}

.bookdisplay {
	float: right;
	background-color: white;
	width: 15%;
	margin: 0px 0px 0px 60px;
}
.filterboxes {
	float: left;
}
.books {
	float: right;
}