.container-fluid-custom{
	margin-top: 0px;
	background-color: #edf3f4;
	width: 80%;

	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}

.no-gutter [class*="col-sm-12"] {
    border-right: none;
}

.col-auto{
	width: auto;
}